In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Kaggle의 MovieLens 데이터

In [4]:
rate = pd.read_csv("C:/Users/seolbluewings/python/sample/ratings.csv")
movie = pd.read_csv("C:/Users/seolbluewings/python/sample/movies.csv")

#### 각 데이터셋의 차원 확인 
- rate 데이터셋 : 사용자가 영화에 어떤 평점을 내렸는지 확인 가능
- movie 데이터셋 : 각 영화의 이름과 해당 영화의 장르 확인 가능

In [5]:
rate.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
rate.drop('timestamp',axis = 1, inplace = True)

In [12]:
print(rate.shape)

(100004, 3)

In [6]:
movie.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
movie.drop('genres', axis = 1, inplace = True)

In [14]:
print(movie.shape)

(9125, 2)

#### 두 테이블에 모두 있는 movieid 컬럼 활용
- 해당 컬럼은 두 테이블을 조인하는 과정에서 key 값으로 사용될 수 있음

In [20]:
movie_rating = pd.merge(rate, movie, how = 'inner', on = 'movieId')

In [21]:
movie_rating.head(5)

   userId  movieId  rating                   title
0       1       31     2.5  Dangerous Minds (1995)
1       7       31     3.0  Dangerous Minds (1995)
2      31       31     4.0  Dangerous Minds (1995)
3      32       31     4.0  Dangerous Minds (1995)
4      36       31     3.0  Dangerous Minds (1995)

### 이를 pandas의 pivot table을 활용해서 데이터 형태를 row는 각 유저, column은 영화별로 존재하는 형태로 변형

In [23]:
rating_mat = movie_rating.pivot_table('rating', index = 'userId', columns = 'title').fillna(0)

In [24]:
rating_mat.shape

(671, 9064)

In [25]:
rating_mat.head(5)

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0