In [1]:
import re

#### 문자열 추출

In [2]:
x = 'Suwon Bluewings won th K League in 2004 and 2008'
y = re.findall('[0-9]+',x)
print(y)

['2004', '2008']

#### Greedy, Non-Greedy 방식 비교

In [18]:
x = 'League : 1998,1999,2004,2008 / FA Cup : 2002,2009,2010,2016,2019 /' 
y= re.findall('^L.+/',x)
print(y)

['League : 1998,1999,2004,2008 / FA Cup : 2002,2009,2010,2016,2019 /']

In [19]:
x = 'League : 1998,1999,2004,2008 / FA Cup : 2002,2009,2010,2016,2019' 
y= re.findall('(^L.+?)/',x)
print(y)

['League : 1998,1999,2004,2008 ']

#### 실제 활용

In [35]:
lin = 'From seolbluewings@wooricard.com Wed May 18 08:55:34 2022'
y = re.findall('^From ([^ ]+@[^ ]+)',lin)
print(y)

['seolbluewings@wooricard.com']

#### 주민번호 추출하여 뒷자리를 *로 변환

In [4]:
data = """
    park : 930208-1083475
    kim : 870205-2038674
"""

ps_no = re.compile("(\d{6})[-]\d{7}")
print(ps_no.sub("\g<1>-*******" ,data))

    park : 930208-*******
    kim : 870205-*******