In [9]:
import requests
import pandas as pd

#### 자주 사용하게 될 API 인증키 변수 선언

In [71]:
api_key = '576d65545273656f3637766762475a'

In [82]:
url = 'http://openapi.seoul.go.kr:8088/{}/json/Corona19Status/3000/3500/'.format(api_key)

#### api_key 변수가 url에 제대로 추가되었는지 확인하기

In [83]:
print(url)

http://openapi.seoul.go.kr:8088/576d65545273656f3637766762475a/json/Corona19Status/3000/3500/

In [84]:
dt = requests.get(url).json()

In [87]:
print(dt['Corona19Status']['row'][0])

{'CORONA19_ID': '35764', 'CORONA19_DATE': '2021-04-19', 'CORONA19_NO': '', 'CORONA19_COUNTRY': '', 'CORONA19_PERSONAL': '', 'CORONA19_AREA': '양천구', 'CORONA19_TRAVEL_HISTORY': '', 'CORONA19_CONTACT_HISTORY': '감염경로 조사중', 'CORONA19_CORRECTIVE': '', 'CORONA19_LEAVE_STATUS': '퇴원', 'CORONA19_MOVING_PATH': '', 'CORONA19_IDATE': '2021-05-05 10:59:26', 'CORONA19_MDATE': '2021-05-05 10:59:26'}

### Open API 호출 함수

In [88]:
def seoul_op_api_dt(url, service_code):
    dt = None
    try:
        dt_dict = requests.get(url).json()
        dt_result = dt_dict[service_code]
        code = dt_result['RESULT']['CODE']
        if code == 'INFO-000':
            dt = dt_result['row']
    except:
        pass
    return dt

In [89]:
corona_dt = seoul_op_api_dt(url,'Corona19Status')

#### 엑셀 형태와 유사하게 pandas를 이용해 DataFrame 형태로 변환

In [90]:
columns = ['CORONA19_ID','CORONA19_DATE','CORONA19_AREA','CORONA19_TRAVEL_HISTORY'
            ,'CORONA19_CORRECTIVE','CORONA19_LEAVE_STATUS','CORONA19_MOVING_PATH'
            ,'CORONA19_IDATE','CORONA19_MDATE']
corona_df = pd.DataFrame(corona_dt,columns = columns)

In [93]:
corona_df.head(10)

,CORONA19_ID,CORONA19_DATE,CORONA19_AREA,CORONA19_TRAVEL_HISTORY,CORONA19_CORRECTIVE,CORONA19_LEAVE_STATUS,CORONA19_MOVING_PATH,CORONA19_IDATE,CORONA19_MDATE
0,35764,2021-04-19,양천구,,,퇴원,,2021-05-05 10:59:26,2021-05-05 10:59:26
1,35763,2021-04-19,은평구,,,-,,2021-05-05 10:59:26,2021-05-05 10:59:26
2,35762,2021-04-19,서대문구,,,퇴원,,2021-05-05 10:59:26,2021-05-05 10:59:26
3,35761,2021-04-19,은평구,,,퇴원,,2021-05-05 10:59:26,2021-05-05 10:59:26
4,35760,2021-04-19,타시도,,,-,,2021-05-05 10:59:26,2021-05-05 10:59:26
5,35759,2021-04-19,마포구,,,퇴원,,2021-05-05 10:59:26,2021-05-05 10:59:26
6,35758,2021-04-19,서초구,,,-,,2021-05-05 10:59:26,2021-05-05 10:59:26
7,35757,2021-04-19,성북구,,,퇴원,,2021-05-05 10:59:26,2021-05-05 10:59:26
8,35756,2021-04-19,타시도,,,-,,2021-05-05 10:59:26,2021-05-05 10:59:26
9,35755,2021-04-19,타시도,,,-,,2021-05-05 10:59:26,2021-05-05 10:59:26